<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchBooks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A5DB9FC1CD6C67A0037552C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A5DBA181CD6C67B0037552C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A5DBA231CD6C67B0037552C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
